:root {
  /* Colors: */
  --unnamed-color-000000: #000000;
  --unnamed-color-fec83e: #fec83e;
  --unnamed-color-fbe551: #fbe551;
  --unnamed-color-84e8ff: #84e8ff;
  --unnamed-color-707070: #707070;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-04c7f4: #04c7f4;
  --unnamed-color-ffb9f1: #ffb9f1;

  /* Font/text values */
  --unnamed-font-family-roboto: Roboto;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-24: 24px;
  --unnamed-font-size-28: 28px;
  --unnamed-font-size-32: 32px;
  --unnamed-font-size-36: 36px;
  --unnamed-font-size-48: 48px;
  --unnamed-character-spacing-0-7: 0.7px;
  --unnamed-character-spacing-1-2: 1.2px;
  --unnamed-character-spacing-3-2: 3.2px;
  --unnamed-character-spacing-3-6: 3.6px;
  --unnamed-character-spacing-14-4: 14.4px;
  --unnamed-character-spacing-2-7: 2.7px;
  --unnamed-line-spacing-19: 19px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-38: 38px;
  --unnamed-line-spacing-40: 40px;
  --unnamed-text-transform-uppercase: uppercase;
}

/* Character Styles */
.roboto-medium-—-28pt {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-28);
  line-height: var(--unnamed-line-spacing-38);
  letter-spacing: var(--unnamed-character-spacing-0-7);
  color: var(--unnamed-color-000000);
}
.roboto-regular-—-24pt {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-1-2);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0-7);
  color: var(--unnamed-color-000000);
}
.roboto-title—-36pt {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-36);
  line-height: var(--unnamed-line-spacing-38);
  letter-spacing: var(--unnamed-character-spacing-3-6);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-2-7);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-1-2);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-28);
  line-height: var(--unnamed-line-spacing-38);
  letter-spacing: var(--unnamed-character-spacing-0-7);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-5 {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-32);
  line-height: var(--unnamed-line-spacing-38);
  letter-spacing: var(--unnamed-character-spacing-3-2);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-6 {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-36);
  line-height: var(--unnamed-line-spacing-38);
  letter-spacing: var(--unnamed-character-spacing-3-6);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-7 {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-48);
  line-height: var(--unnamed-line-spacing-40);
  letter-spacing: var(--unnamed-character-spacing-14-4);
  color: var(--unnamed-color-000000);
  text-transform: var(--unnamed-text-transform-uppercase);
}
