.sidebar-item{
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 0.8rem;
    font-weight: 500;
    user-select: none;
    transition: 0.3s;
}


.sidebar-item-inactive{
    color: white;
    background-color: none;
    cursor: pointer;
    
}
.sidebar-item-inactive:hover{
    background-color: #242a38;
}

.sidebar-item-active{
    color: #121828;
    background-color: white;

}